p {
	font-size: 20px;
	color: rgb(94, 94, 94);
	font-weight: 500;
}
h1, h2 {
	color: rgb(233, 175, 15);
}
.about-heading {
	color: rgb(240, 17, 17);
}
.important-text {
	color: #000;
	font-weight: 700;
}